<!-- Chatbot Toggle -->
<div class="chatbot-toggle">
    <img src="https://cdn-icons-png.flaticon.com/512/4712/4712104.png" alt="Chat" />
</div>

<!-- Chatbot Window -->
<div class="chatbot-window hidden" id="chatbotWindow">
    <div class="chatbot-header">
        <span>LugxGaming AI Bot</span>
        <button class="btn btn-outline-secondary" id="chatBotBtn">&#10006;</button>
    </div>
    <div class="chatbot-body" id="chatbotMessages"></div>
    <div class="chatbot-footer">
        @Html.AntiForgeryToken()

        <input type="text" id="chatbotInput" placeholder="Type your message..." />
        <button id="chatBotMsg">Send</button>
    </div>
</div>