@model RegisterFormModel

@{
    Layout = null;
    ViewData["Title"] = "Sign Up";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<body style="background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))">
    <form asp-controller="Account" asp-action="SignUp" method="post">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4 pb-5">
                                <h2 class="fw-bold mb-2 text-uppercase text-white">Register</h2>

                                @if (ViewBag.Registered != null)
                                {
                                    <div class="alert alert-primary" role="alert">
                                        Please confirm your email!
                                    </div>
                                }

                                @if (ViewBag.InitialError == null)
                                {
                                    <div class="text-danger">
                                        @foreach (var key in ViewData.ModelState.Keys)
                                        {
                                            foreach (var error in ViewData.ModelState[key].Errors)
                                            {
                                                <p class="text-warning">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="orange" class="bi bi-exclamation-triangle">
                                                        <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z" />
                                                        <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z" />
                                                    </svg> @error.ErrorMessage
                                                </p>
                                            }
                                        }
                                    </div>
                                }
                                
                                <div class="form-group">
                                    <label asp-for="FirstName"></label>
                                    <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name">
                                    <span asp-validation-for="FirstName" class="text-warning"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LastName"></label>
                                    <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name">
                                    <span asp-validation-for="LastName" class="text-warning"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                                    <span asp-validation-for="Email" class="text-warning"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                                    <span asp-validation-for="Password" class="text-warning"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword"></label>
                                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password">
                                    <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
                                </div>
                                <br />

                                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>
                                <p class="text-white">Already have an account? <a asp-controller="Account" asp-action="SignIn" class="text-blue fw-bold">Sign In</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>